@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper
{
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;
}
html, body {
  overflow-x: hidden;
}




/* NavBar Section */
.navbar
{
    justify-content: center;
    background-color: black;
    color: white;
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-size: 45px;
    color: rgb(255, 34, 0);
}
.logo-container
{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 6%;
}
.logo-text
{
    font-size: 20px;
    margin-top: 0.8rem;
}

.nav-items
{
    display: flex;
    gap: 2rem;
    padding-right: 4rem;
}
.nav-items a{
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    box-sizing: border-box;
    color: white;
}
a{
    /* margin-left: 10px; */
    text-decoration: none;
}
.nav-items a:hover
{
    /* font: weight 600 ; */
    transition: 0.6s;
    transform:scale(1.06);
    color: rgb(255, 34, 0);
}


/* Hero Section */
.hero-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

/* FADED TEXT */
.faded-text{
    position: absolute;
    user-select: none;
    font-size:5em;
    color: rgb(231, 231, 231);

    bottom: 2.6%;
    left: 0%;
    font-weight: bold;
    transition: all 2s;
}


/* Left Hero section */
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    width: 550px; /* pick value that fits your text */
    flex-shrink: 0;
}
.hero-heading{
    font-size: 32px;
    color: #343d68;
    font-weight: 500;
}
.role{
    color:#4e45d5;
    font-weight: 700;
}
.hero-sub-heading{
    font-size: 40px;
    line-height: 40px;
}
.hero-description{
    margin-top: 1rem;
    width:80%;
    font-size: 0.8em;
    font-weight:bold;
}
.button-pink{
    background-color:rgb(255, 34, 0);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position:relative;
    z-index:1;
}
.button-pink::before{
    content: "";
    position:absolute;
    background-color:white;
    transition: all 0.8s;
    transform: scaleX(0);
    transform-origin: left;
    z-index:-1;
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
}
.button-pink:hover::before {
    transform: scaleX(1);
}
.button-pink:hover {
    border: solid 3px rgb(255, 34, 0);
    color: black;
}

/* Right Hero Section */
.hero-right
{
    position: relative;
}
.absolute{
    position: absolute;
}
.size{
    width: 50px;
    position: relative;
}
.u-image{
    /* height: 28vw; */
   height: 350px;
   z-index: 1;
}
.user-image{
    padding: 2.5rem;
    transition: all 1s;
    animation: user-Image 5s linear infinite;
}
@keyframes user-Image {
    0%{
        transform: scale(1);    }

    50%{
        transform: scale(1.081);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.211);
    }
    100%{
        transform: scale(1);
    }
}
.circle{
    z-index: 9;
    bottom: -1rem;
    left: 0;
    animation-name: circle-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes circle-animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0px);
    }
}
.plus{
    z-index: 9;
    top: -1rem;
    left: 0;
    animation-name: plus-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes plus-animation
{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(35px);
    }
    100%{
        transform: translateY(0px);
    }
}
.cuboid{
    z-index: 1;
    top: -1rem;
    right: 0;
    animation-name: cuboid-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes cuboid-animation
{
    0%{
        transform: rotateY(0deg) translateY(0px) ;
    }
    50%{
        transform: rotateY(180deg) translateY(35px);
    }
    100%{
        transform: rotateY(0deg) translateY(0);
    }
}
.art1 {
    z-index: 1;
    top: -1rem;
    right: 200px;
    animation-name: art1-animation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes art1-animation
{
    0%{
        transform:  rotateZ(0deg) rotateY(0deg);
    }
    50%{
        transform:  rotateZ(3600deg) rotateY(3600deg);
    }
    100%{
        transform: rotateZ(0deg) rotateY(0deg) ;
    }
}
.art2{
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation-name: art2;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes art2 {

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-35px) scaleX(2) scaleY(2);
    }
    100%
    {
        transform: translateY(0px);
    }
}


/* Project Section CSS */
.Project-section{
    width: 100%;
    background-color: black;
    margin-top: -6.1rem;
    box-sizing: border-box;
    padding: 2rem;
}
.page-header{
    text-align: center;
    padding-top: 1.5%;
    color: rgb(255, 34, 0);
    font-size: 5em;
    font-weight: 600;
}
.Project-container{
    max-width: 98%;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap:120px;
    align-items: center;
}


.Project-Card{
    width: 70%;
    height: 25em;
    background-color: rgb(87, 87, 215);
    background-size:cover;
    padding: 3em 1em;
    position: relative;
    box-shadow: 0px 0px 40px rgba(255, 68, 0, 0.534) ;
}
.Project-Card::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    /* z-index: 0; */
}
.Project-Card::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
}
.Project-Card:hover::before{
    transform: scaleX(1);
}
.Project-Card:hover .project-content{
    transform: scale(1.08);
}
.project-number{
    position:absolute;
    font-size: 100px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.605);
    z-index: 10;
    opacity: 0;
}
.Project-Card:hover .project-number{
    opacity:1 ;
}
.project-number-right{
    right: -40px;
    top:-45px;
}
.project-number-left{
    left: -40px;
    top:-45px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color : white;
    padding: 1em;
    bottom: 15%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}
.project-content-left{
    left: 10%;
}
.project-content-right{
    left: 30%;
}
.project-skill-container{
    width: 60%;
    display: flex;
    gap:2px;
    flex-wrap: wrap;

}
.skill{
    width: 40px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-sub-heading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.button-group{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}
.icon:hover{
    color: rgb(255, 34, 0);
}

#project1{
    background-image: url(green.avif);
}
#project5{
    margin-left:130px ;
    background-image: url(crypto.jpg);
}
#project2{
    background-image: url(womania.avif);
}
#project3{
    margin-left:130px ;
    background-image: url(listeners2.avif);
}
#project4{
    background-image: url(physio1.jpg);
}

.navbar .fa-solid{
    display: none;
}






/* Adding responsiveness */


/* Navbar responsive */
/* NAVBAR RESPONSIVE FIX */

@media only screen and (max-width:600px)
{

    .navbar
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    .navbar .fa-solid
    {
        display: block;
        font-size: 1em;
    }

  .nav-items {
    position: absolute;
    top: 4.5em;
    right: 0;
    background: black;
    width: 5em;
    padding: 1rem;
    display: none;
    flex-direction: column;
    gap: 1rem;
    z-index: 999;
  }
.nav-items a{
        font-size: 0.8em;
    }

.navbar .fa-bars {
    display: block;
    font-size: 1.5em;
    margin-right: 2rem;
    cursor: pointer;
  }

  .navbar .fa-circle-xmark {
    display: none;
    font-size: 1.5em;
    margin-right: 2rem;
    cursor: pointer;
  }


.hero-section
    {
        width: 100%;
        gap: 1rem;
        margin: 2rem;
        padding: 1rem;
        margin-top: 7em;
        padding: 0 1rem;
        padding-bottom: 8rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .faded-text{
        font-size:0;
    }
    .hero-left{
        width:86%;
        gap:2%;
        margin-left: -2em;
    }
    .hero-heading{
        font-size: 1rem;
    }
    .role{
        font-size: 1.2rem;
    }
    .hero-sub-heading{
        line-height: 100%;
    }
    .hero-description{
        font-size: small;
        width:80%;
    }


    /* Hero section right */
    .hero-right{
        position:relative;
        width: 45%;
        margin-bottom: 1em;
        margin-right: 5em;
    }
    .size{
        width: 2em;
    }
    .u-image{
       height: 40vw;
       background-image: url("fvcedsx.jpg");
    }
    .user-image
    {
        padding: 0.5rem;
        transition: all 1s;
        animation: user-Image 5s linear infinite;
    }

    /* project section */
    .button-pink{
        margin-top: 2%;
        padding: 0.5rem 1rem;
        box-shadow: none;
        font-size: 1rem;
        border: solid 1px transparent;
    }
    .Project-section .button-pink{
        font-size: 0.6rem;
    }
    .page-header{
        font-size: 3em;
    }
    .Project-container{
        padding: 3rem 2rem;
        gap: 5em;
    }
.Project-Card{
    width: 80%;
    height: 20em;
    padding: 6em 3em;
}

.project-number{
    font-size: 5em;
}
.project-content{
    padding: 1em;
    gap: 0.5em;
}
.project-content-right{
    left: 10%;
}
.project-heading {
    font-size: 2em;
}
#project5{
    margin-left:0px ;
}
#project3{
    margin-left:0px ;
}


/* My Skills section */

.skill-container-right{
    gap: 1rem;
}
.skills-logo{
    width: 50px !important;
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
    font-size:2em !important;
    font-style: bold;
    color: rgb(255, 34, 0);
    line-height: 20px;
}
.skill-subHeading{
    margin-top: 1rem;
    text-align: justify;
}
.skill-subHeading p{
    margin: 5px 0;
}
.skill{
    width: 1em;
}


/* footer */
.Contact-footer {
    padding: 2rem 0;
    margin-top: 4em;
  }

  .footer-center {
    gap: 1.5rem;
  }

  .icons-wrapper {
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 999;
  }

  .icons-wrapper a i {
    font-size: 1.3rem;
  }

  .skill-fade-text{
    font-size: 0em !important;
    color: rgba(231, 231, 231, 0);
}
  .button-down {
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
  }
}

@media only screen and (max-width:1100px) and (min-width:600px)
{

    .nav-items a{
        font-size: 1em;
    }

.hero-section
    {
        width: 100%;
        gap: 1rem;
        margin: 2rem;
        padding: 1rem;
        margin-top: 7em;
        padding: 0 1rem;
        padding-bottom: 8rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .faded-text{
        font-size:0;
    }
    .hero-left{
        width:90%;
    }
    .hero-heading{
        font-size: 1.5rem;
    }
    .role{
        font-size: 2rem;
    }
    .hero-sub-heading{
        line-height: 100%;
    }
    .hero-description{
        font-size: small;
        width:80%;
    }
    .button-pink{
        margin-top: 2%;
        padding: 0.1rem 0.5rem;
        box-shadow: none;
        font-size: 1.2rem;
        border: solid 1px transparent;
    }
    .Project-section .button-pink{
        font-size: 0.8rem;
    }


    /* Hero section right */
    .hero-right{
        position:relative;
        width: 45%;
        margin-bottom: 1em;
        margin-right: 5em;
    }
    .size{
        width: 2em;
    }
    .u-image{
       height: 40vw;
       background-image: url("fvcedsx.jpg");
    }
    .user-image
    {
        padding: 0.5rem;
        transition: all 1s;
        animation: user-Image 5s linear infinite;
    }
/* footer */
.Contact-footer {
    padding: 2rem 0;
    margin-top: 4em;
  }

  .footer-center {
    gap: 1.5rem;
  }

  .icons-wrapper {
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 999;
  }

  .icons-wrapper a i {
    font-size: 1.3rem;
  }

  .skill-fade-text{
    font-size: 0em !important;
    color: rgba(231, 231, 231, 0);
}
  .button-down {
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
  }
}

/* @media (max-width:1200px)
{
    .page-header{
        padding: 30px;
        color: rgb(255, 34, 0) ;
        text-align: center;
        font-size: 40px;
    }
    .Project-container{
        padding: 30px;
        margin: 10px;
        gap: 60px;
    }
    .Project-Card{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    .project-content{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .project-content-left{
        left: 0;
    }
    .project-heading{
        font-size: 40px;
        width: 100%;
    }
    .project-sub-heading{
        width: 100%;
    }
    #project2{
        margin-left:0;
    }
    #project4{
        margin-left: 0;
    }
    .project-skill-container{
        width: 100%;
    }
    .skill{
        width: 35px;
    }
    .Project-Card:hover .project-number{
        display: none;
    }
    .Project-Card:hover .project-content{
        scale: 0.7;
    }
} */

/* My Skills section */
.skills-container
{
    max-width: 70%;
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 2rem auto;
    margin-bottom: 8rem;
    gap: 30px;
}
.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position:relative;
    gap: 2rem;
}
.skill-fade-text{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -30%;
    right: -10%;
    user-select: none;
    overflow-y: hidden;
    /* padding: 5rem; */
}
.blob-style{
    z-index: -100;
    width: 280px;
    position: absolute;
    top:40%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation:blobAnimate 3s linear infinite;
}
@keyframes blobAnimate{
    50%{
        top:25%;
        left:50%;
    }
}
.skills-logo{
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
    font-size:xx-large;
    font-family: 50px;
    font-style: bold;
    color: rgb(255, 34, 0);
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skill-subHeading{
    margin-top: 1rem;
    /* width: %; */
    text-align: justify;
}
.skill-subHeading p{
    margin: 15px 0;
}





/* FOOTER */
.Contact-footer {
  width: 100%;
  background: black;
  padding: 4rem 0;
  margin-top: 8.2em;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}

/* ICONS */
.icons-wrapper {
  display: flex;
  gap: 2.5rem;
}

.icons-wrapper a i {
  font-size: 30px;
  color: #ffffff;
  transition: 0.3s;
}

.icons-wrapper a i:hover {
  color: rgb(255, 34, 0);
  transform: scale(1.2);
}

/* BUTTON */
.button-down {
  font-size: 18px;
  padding: 0.6rem 1.8rem;
  background: rgb(255, 34, 0);
  color: white;
  border: none;
  cursor: pointer;
}

.button-down:hover {
  opacity: 0.85;
}
